In [2]:
%config IPCompleter.greedy=True

In [3]:
import pandas as pd

df_train = pd.read_csv('train_kaggle.csv')
df_train

          Id  Label
0          0      1
1          1      0
2          2      0
3          3      1
4          4      0
5          5      1
6          6      0
7          7      1
8          8      0
9          9      0
10        10      1
11        11      0
12        12      1
13        13      1
14        14      0
15        15      1
16        16      0
17        17      1
18        18      1
19        19      1
20        20      1
21        21      1
22        22      1
23        23      1
24        24      0
25        25      1
26        26      1
27        27      0
28        28      0
29        29      1
...      ...    ...
18632  18632      0
18633  18633      1
18634  18634      1
18635  18635      0
18636  18636      0
18637  18637      0
18638  18638      0
18639  18639      0
18640  18640      0
18641  18641      0
18642  18642      0
18643  18643      1
18644  18644      0
18645  18645      0
18646  18646      0
18647  18647      0
18648  18648      0
18649  18649      0
18650  18650      1
18651  18651      0
18652  18652      0
18653  18653      0
18654  18654      1
18655  18655      0
18656  18656      0
18657  18657      1
18658  18658      0
18659  18659      0
18660  18660      1
18661  18661      1

[18662 rows x 2 columns]

In [4]:
import seaborn as sns

sns.distplot(df_train['Label']);

In [5]:
import numpy as np

def load_dataframe(id):
    train_data = np.load("train/train/{}.npy".format(id))
    return pd.DataFrame(data=train_data)

In [6]:
def load_test_dataframe(id):
    test_data = np.load("test/test/{}.npy".format(id))
    return pd.DataFrame(data=test_data)

In [7]:
def get_missing_data(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [8]:
def clear_missing_data(df, missing_indices):
    df = df.drop(missing_indices,1)
    # for col in df_temp.columns:
    #    df = df.drop(df.loc[df[col].isnull()].index)
    count = df.isnull().sum().max() #just checking that there's no missing data missing...
    if count > 0:
        print(count)
        return pd.DataFrame()
    return df

In [9]:
import tensorflow as tf

In [10]:
import numpy as np

dataframes = np.load('allData.npy', allow_pickle = True)
dataframes.shape

(18662,)

In [11]:
PAD_SIZE = 500

def pad_data(dfs):
    data = []
    for i in range(len(dfs)):
        df = dfs[i]
        diff = PAD_SIZE - df.shape[0]
        if diff > 0:
            df = np.pad(df, [(0, diff), (0,0)], 'constant')
        else:
            df = df[:PAD_SIZE]
        data.append(df)
    data = np.stack(data)
    return data

In [12]:
XTrain = pad_data(dataframes)
XTrain.shape

(18662, 500, 102)

In [13]:
np.save('train_padded.npy', XTrain)

In [14]:
XTrain[0].shape

(500, 102)

In [15]:
Y = df_train['Label'].values
Y.shape

(18662,)

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(XTrain, Y, test_size=0.1, random_state=42)

In [18]:
df_test = pd.read_csv('sample_solution.csv')
df_test

        Id  Predicted
0        0   0.417022
1        1   0.720324
2        2   0.000114
3        3   0.302333
4        4   0.146756
5        5   0.092339
6        6   0.186260
7        7   0.345561
8        8   0.396767
9        9   0.538817
10      10   0.419195
11      11   0.685220
12      12   0.204452
13      13   0.878117
14      14   0.027388
15      15   0.670468
16      16   0.417305
17      17   0.558690
18      18   0.140387
19      19   0.198101
20      20   0.800745
21      21   0.968262
22      22   0.313424
23      23   0.692323
24      24   0.876389
25      25   0.894607
26      26   0.085044
27      27   0.039055
28      28   0.169830
29      29   0.878143
...    ...        ...
6021  6021   0.303023
6022  6022   0.035078
6023  6023   0.590051
6024  6024   0.701621
6025  6025   0.669988
6026  6026   0.356210
6027  6027   0.111645
6028  6028   0.641320
6029  6029   0.063197
6030  6030   0.644363
6031  6031   0.835289
6032  6032   0.057159
6033  6033   0.355870
6034  6034   0.618719
6035  6035   0.638601
6036  6036   0.197939
6037  6037   0.623363
6038  6038   0.557541
6039  6039   0.885718
6040  6040   0.697025
6041  6041   0.364263
6042  6042   0.225348
6043  6043   0.610909
6044  6044   0.255565
6045  6045   0.075813
6046  6046   0.822702
6047  6047   0.227952
6048  6048   0.379553
6049  6049   0.846487
6050  6050   0.103151

[6051 rows x 2 columns]

In [19]:
testdatas = []
for id in df_test['Id']:
    dfi = load_test_dataframe(id)
    testdatas.append(dfi.values)

In [20]:
print(len(testdatas))

6051

In [21]:
XTest = pad_data(np.array(testdatas))

In [22]:
np.save('test_padded.npy', XTest)

In [23]:
XTest.shape

(6051, 500, 102)

In [24]:
from tensorflow import keras

METRICS = [
      keras.metrics.BinaryAccuracy(name='accuracy'),
      keras.metrics.AUC(name='auc'),
]

inputs = keras.Input(shape=(XTrain.shape[1], XTrain.shape[2])) 
x = keras.layers.Conv1D(filters=6, kernel_size=5, padding='same', activation='relu')(inputs)
x = keras.layers.MaxPooling1D(pool_size=2)(x)
x = keras.layers.Dropout(0.4)(x)
x = keras.layers.Conv1D(filters=16, kernel_size=5, padding='same', activation='relu')(x)
x = keras.layers.MaxPooling1D(pool_size=2)(x)
x = keras.layers.Dropout(0.4)(x)
x = keras.layers.Flatten()(x)
x = keras.layers.Dense(120, activation='relu')(x)
x = keras.layers.Dense(84, activation='relu')(x)
x = keras.layers.Dense(2, activation='softmax')(x)

model = keras.Model(inputs=inputs, outputs=x)

model.compile(loss='categorical_crossentropy',
             optimizer='adam',
             metrics=METRICS)

# Take a look at the model summary
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 500, 102)]        0
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 500, 6)            3066
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 250, 6)            0
_________________________________________________________________
dropout_2 (Dropout)          (None, 250, 6)            0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 250, 16)           496
_________________________________________________________________
max_pooling1d_3 (MaxPooling1 (None, 125, 16)           0
_________________________________________________________________
dropout_3 (Dropout)          (None, 125, 16)           0
_________________________________________________________________
flatten_1 (Flatten)          (None, 2000)              0
_________________________________________________________________
dense_3 (Dense)              (None, 120)               240120
_________________________________________________________________
dense_4 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 170
=================================================================
Total params: 254,016
Trainable params: 254,016
Non-trainable params: 0
_________________________________________________________________

In [25]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor='val_auc', 
    verbose=1,
    patience=10,
    mode='max',
    restore_best_weights=True)

In [ ]:
from tensorflow.keras.utils import to_categorical

EPOCHS = 100
baseline_history = model.fit(
    X_train,
    to_categorical(y_train),
    epochs=EPOCHS,
    callbacks = [early_stopping],
    validation_data=(X_val, to_categorical(y_val)))

Train on 16795 samples, validate on 1867 samples
Epoch 1/100
16795/16795 [==============================] - 28s 2ms/sample - loss: 0.5078 - accuracy: 0.8200 - auc: 0.8861 - val_loss: 0.3099 - val_accuracy: 0.8806 - val_auc: 0.9448
Epoch 2/100
16795/16795 [==============================] - 34s 2ms/sample - loss: 0.3041 - accuracy: 0.8698 - auc: 0.9447 - val_loss: 0.2385 - val_accuracy: 0.9025 - val_auc: 0.9667
Epoch 3/100
16795/16795 [==============================] - 34s 2ms/sample - loss: 0.2549 - accuracy: 0.8899 - auc: 0.9606 - val_loss: 0.2220 - val_accuracy: 0.9095 - val_auc: 0.9729
Epoch 4/100
16795/16795 [==============================] - 34s 2ms/sample - loss: 0.2347 - accuracy: 0.9004 - auc: 0.9666 - val_loss: 0.2148 - val_accuracy: 0.9089 - val_auc: 0.9718
Epoch 5/100
16795/16795 [==============================] - 34s 2ms/sample - loss: 0.2183 - accuracy: 0.9056 - auc: 0.9709 - val_loss: 0.1919 - val_accuracy: 0.9293 - val_auc: 0.9792
Epoch 6/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.2088 - accuracy: 0.9116 - auc: 0.9734 - val_loss: 0.1969 - val_accuracy: 0.9272 - val_auc: 0.9771
Epoch 7/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1968 - accuracy: 0.9155 - auc: 0.9764 - val_loss: 0.1886 - val_accuracy: 0.9293 - val_auc: 0.9794
Epoch 8/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1863 - accuracy: 0.9227 - auc: 0.9788 - val_loss: 0.1880 - val_accuracy: 0.9272 - val_auc: 0.9797
Epoch 9/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1785 - accuracy: 0.9256 - auc: 0.9806 - val_loss: 0.1783 - val_accuracy: 0.9363 - val_auc: 0.9830
Epoch 10/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1707 - accuracy: 0.9301 - auc: 0.9823 - val_loss: 0.1786 - val_accuracy: 0.9320 - val_auc: 0.9808
Epoch 11/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1650 - accuracy: 0.9315 - auc: 0.9832 - val_loss: 0.1722 - val_accuracy: 0.9330 - val_auc: 0.9825
Epoch 12/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1616 - accuracy: 0.9339 - auc: 0.9839 - val_loss: 0.1666 - val_accuracy: 0.9347 - val_auc: 0.9839
Epoch 13/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1537 - accuracy: 0.9368 - auc: 0.9857 - val_loss: 0.1697 - val_accuracy: 0.9314 - val_auc: 0.9833
Epoch 14/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1447 - accuracy: 0.9401 - auc: 0.9871 - val_loss: 0.1627 - val_accuracy: 0.9288 - val_auc: 0.9843
Epoch 15/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1411 - accuracy: 0.9428 - auc: 0.9875 - val_loss: 0.1686 - val_accuracy: 0.9304 - val_auc: 0.9827
Epoch 16/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1396 - accuracy: 0.9436 - auc: 0.9880 - val_loss: 0.1649 - val_accuracy: 0.9357 - val_auc: 0.9834
Epoch 17/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1380 - accuracy: 0.9431 - auc: 0.9882 - val_loss: 0.1618 - val_accuracy: 0.9357 - val_auc: 0.9840
Epoch 18/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1300 - accuracy: 0.9468 - auc: 0.9898 - val_loss: 0.1521 - val_accuracy: 0.9336 - val_auc: 0.9857
Epoch 19/100
16795/16795 [==============================] - 34s 2ms/sample - loss: 0.1215 - accuracy: 0.9510 - auc: 0.9907 - val_loss: 0.1503 - val_accuracy: 0.9363 - val_auc: 0.9863
Epoch 20/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1216 - accuracy: 0.9517 - auc: 0.9906 - val_loss: 0.1700 - val_accuracy: 0.9395 - val_auc: 0.9821
Epoch 21/100
16795/16795 [==============================] - 33s 2ms/sample - loss: 0.1186 - accuracy: 0.9527 - auc: 0.9910 - val_loss: 0.1782 - val_accuracy: 0.9336 - val_auc: 0.9807
Epoch 22/100
12096/16795 [====================>.........] - ETA: 8s - loss: 0.1190 - accuracy: 0.9521 - auc: 0.9910

In [ ]:
YTest = model.predict(XTest)
YTest

In [ ]:
df_test['Predicted'] = YTest[:, 0]
df_test

In [ ]:
df_test.to_csv('test.csv', index=False)